.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.login-card {
  width: 420px;
  padding: 40px;
  background: #fff;

  border: 1px solid #dcdcdc;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.brand {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
}

hr {
  border-top: 2px solid #a3a3a3;
  margin-bottom: 24px;
  width: 75%;
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}

input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  margin-bottom: 18px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #999;
}

button {
  margin-top: 8px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #000;
}

.register {
  margin-top: 16px;
  text-align: center;
  font-size: 13px;
}

.register span {
  color: #000;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}